//Colors

//Neutral

$Neutral_900: hsl(243, 96%, 9%);
$Neutral_800: hsl(243, 27%, 20%);
$Neutral_700: hsl(243, 23%, 24%);
$Neutral_600: hsl(243, 23%, 30%);
$Neutral_300: hsl(240, 6%, 70%);
$Neutral_200: hsl(250, 6%, 84%);
$Neutral_0  : hsl(0, 0%, 100%);

 //Orange

$Orange_500 : hsl(28, 100%, 52%);

//Blue

$Blue_500   : hsl(233, 67%, 56%);
$Blue_700   : hsl(248, 70%, 36%);

